<style>
  .search-btn{
    background-color: #fe424d;
    color: #ffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #ffff;
  }

  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.9rem;
    border: 1px solid #fe424d;
  }

  @media (max-width: 768px) {
    .search-input {
      font-size: 0.8rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
    }
    .search-input::placeholder {
      font-size: 0.8rem;
    }
  }
  
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top" id="main-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
        >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <!-- search option  -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings" method="GET">
          <input 
            class="form-control me-2 search-input" 
            type="search" 
            placeholder="Search destinations"
            name="search"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <!-- SignUP -->
       <div class="navbar-nav ms-auto">
        <a class="nav-link" href="listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
          <a class="nav-link "  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) {%>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  let toggler = document.querySelector(".navbar-toggler");
  let navBar = document.getElementById("main-navbar");

  toggler.addEventListener("click", () => {
    navBar.classList.toggle("navbar-expanded");
  });
</script>

